html, body {
    background-color: #f4e090;
}

.welcome {
    width: 780px;
    text-align: center;
    margin: 60px auto 10px;
    padding: 15px;
    background-color: #e1e1e1;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.content {
    margin: 20 auto;
}

.image {
    width: 960px;
    background-color: #e10800;
    padding: 7px;
    margin: 0 auto;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.contentList {
    margin: 60px auto;
    width: 580px;
}

.question{
    width: 280px;
    background-color: #e1d80b;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.answer {
    width: 280px;
    margin-left: 7px;
    background-color: #b7d5e1;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.contactList {
    text-align: left;
}

.btn {
    margin-bottom: 21px;
}

input[type=text] {
    height: 25px;
}

.newElement {
    width: 580px;
    margin: 0px auto;
    background-color: #c2bdff;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.numbersList {
    width: 300px;
    margin: 0px auto;
    text-align: center;
    background-color: #c0ffc0;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}